<h1 class="title"></h1>
<p>
  <b>Title：</b><%= @book.title %>
</p>

<p>
  <b>Body:</b><%= @book.body %>
</p>
<nav>
    <ul class = "nav-list">
        <li class = "nav-list-item"><%= link_to "Edit", edit_books_path(@book.id) %></li>
        <li class = "nav-list-item"><%= link_to "Back", "/books" %></li>
    </ul>
</nav>