<h1 class="title"> </h1>

<div class ="show-item">
  <b>Title：</b><%= @book.title %>
</div>

<div class ="show-item">
  <b>Body : </b><%= @book.body %>
</div>

<div class = "nav">
    <div class = "nav1"><%= link_to "Edit", edit_books_path(@book.id) %></div>
    <div class = "nav2"><%= link_to "Back", "/books" %></div>
</div>